/* filepath: /e:/projectnitin/crm/angular-identity-app/src/app/shared/header/header.component.scss */
.app-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .spacer {
    flex: 1 1 auto;
  }